<html>
  <head>
    {% if title %}
    <title>{{title}} - Pawler</title>
    {% else %}
    <title>Pawler</title>
    {% endif %}
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='museoslab_500_macroman/stylesheet.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>

    <header class="page">
			<nav class="wrapper">
    <a href="/" id="logo" class="ir">Pawler</a>
    <ol class="nav1">
         <li class = "active"><a href="#about">Home</a></li>
         <li><a href="#benefits">Benefits</a></li>
         <li><a href="#order">Order</a></li>
          <li><a href="#team">About us</a></li>
         <li><a href="#contact">Contact</a></li>
     </ol>
</nav>
</header>

    <hr>
    {% block content %}{% endblock %}
   
     
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37847878-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
  
</html>