{% extends "base.html" %}
{% block content %}

<div id="page1">
  <a id="about"></a>
  <section class="band visual">
			<div class="wrapper">
				<img src="static/header.png" alt="Pawler collar and iPhone" />
				<div class="text">
					<h1>The world's <br> smartest <br> dog collar <br><br></h1>
					<p>Understand your pet like never before.<br />Keep track of his health, mood and well being.</p>
					<p class="cta">
						<a href="#order" class="button small">Reserve your Pawler now!</a>
						Shipping Summer 2013.
					</p>
				</div>
			</div>
		</section>

</div>

<div id="page2">
 <section class="band placed" id="benefits">

  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="static/placed/exercise.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Track your pet while away.</h1>
              <p class="lead">By getting notifications by changes in moods, activity and sleep.</p>
              <a class="btn btn-large btn-primary" href="#">Reserve now</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/placed/peace.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Track exercise levels</h1>
              <p class="lead">By getting notifications by changes in moods, activity and sleep.</p>
              <a class="btn btn-large btn-primary" href="#">Reserve now</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="static/placed/away.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Peace of mind.</h1>
              <p class="lead">Monitor levels of activity over time and easily see any potential outliers.</p>
              <a class="btn btn-large btn-primary" href="#">Reserve now</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <script type="text/javascript"> 
        $('.carousel').carousel({ 
          interval: 2000 
        }) 
</script> 
    </section>

</div>

<section id="order">
			<div class="feature central">
				<h1>Use Pawler to track and connect with your pet!</h1>
				<p>Get Pawler and get insights and recommendations for your pet!</p>
				<p>The first batch of Pawler will ship in <span class="nowrap">Summer 2013</span>.<br /> </p>
				<ol class="prices">
					<li>
						<h2 class="price">$99</h2>
						<p>One Pawler<br /><span>with charger unit</span></p>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick" />
							<input type="hidden" name="hosted_button_id" value="BV3W6YQ63X3SQ" />
							<button type="submit" class="button big">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">


								Reserve Now!
								<span class="note"><strong>$75</strong> reservation payment</span>
							</button>
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
						</form>
					</li>
					
				</ol>
				<p class="note">
					$25 off for the first 1000 Pawlers.
					Reservation requires $75 USD Reservation Payment. Refundable.<br />
					Shipping costs not included in price. Additional Pawlers will be available at $99.
				</p>
			</div>
		</section>
		<section id="team" class="band team">
		<div  class="container marketing">
		<h1>Meet the Pawler team!</h1>
		<p>We are passionate technology and dog lovers looking for innovative ways to help you better understand your pet.</p>
		<!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span3">
          <img  src="static/team/Alex.png" class="img-circle">
          <br> <br>
          <h2>Alex</h2>
          <p>Electronics wiz <br> Back-end architect</p>
          <p><a class="btn" href="http://www.linkedin.com/in/ajaustin">More about Alex &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
         <img  src="static/team/Mada.png" class="img-circle">
          <br> <br>
          <h2>Mada</h2>
          <p>Pet ambassador<br> Front-end designer</p>
          <p><a class="btn" href="http://madalinaseghete.com/"> More about Mada &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
          <img  src="static/team/Sammy.png" class="img-circle">
          <br> <br>
          <h2>Sammy</h2>
          <p>Data geek <br> Prediction engineer</p>
          
          <p><a class="btn" href="www.linkedin.com/in/nammari">More about Sammy &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3">
          <img  src="static/team/Mike.png" class="img-circle">
          <br> <br>
          <h2>Mike</h2>
          <p>Device engineer <br> Supply chain expert</p>
          <p><a class="btn" href="http://www.linkedin.com/in/mikemolinet">More about Mike &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
</div>
</section>
<footer class="band page">
			<div class="wrapper">
				<nav>
					<ol class="nav">
						
						<li><a href="http://www.facebook.com/trypawler" target="_blank"><img src="static/fb.png" alt="FB"></a></li>
						
					</ol>
				</nav>
				<p>&copy; Pawler</p>
			</div>
		</footer>

	    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.js"></script>
      
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>

{% endblock %}
